
*,
*:before,
*:after {
  box-sizing:25px;
}

html {
  height:200px;
}

body {
  font-family: "Times New Roman", Times, serif;;
  line-height: normal;
  color: white;
  background-color:black;
  display:flex;
  flex-direction: column;
  margin:0px;
  height:200px;
  background-image:url("background.gif");
  background-attachment:fixed;
}

a,
a:link,
a:hover,
a:visited {
  color:rgb(255, 255, 255);
  text-decoration:blueviolet;
}

h1,
h2,
h3 {
  margin: 10px;
  font-weight:20px;
}

header>h1{
 
 
  font-size: 40px;
}

#btn{
  height: 50px;
  width: 100px;
  opacity: 0.7;
}

header,
footer {
  color:white;
}

body>header,
body>footer {
  padding-left:25px;
  padding-right:25px;
}

body>header,
body>footer {
  padding-top:25px;
  padding-bottom:25px;
}

body>header {
  border-bottom:45px;

}

main {
  display: flex;
  /* flex-grow:1; */
  flex-wrap:wrap; 
  justify-content: space-around;
}

body>footer {
  border-top:15px;
  text-align: left;
}
body>footer :hover{
  color: brown;
}

#btn:hover{
background-color: brown;

}

.person {
  width:500px;
  margin:5px;
  background-color:rgba(44, 44, 43, 0.566);
  border: 2px;
  border-radius:8px;
  border-style: solid;
  border-color: goldenrod;
}

.person>div {
  /* width: 180px; */
  padding-right:30%;
  padding-left: 3%;
}

.person>header {
  margin: 0;
  border-bottom:3px;
}

 ul {
  padding: 2px;
  list-style: none;
}

 li {
  display:block;
  padding:7px;

}

 .person .label {
  flex-grow: 1;
  width:50px;
}

.person .value {
 color: white;
 float: right;
}



